{% extends "base.html" %} {% block title %}Team{% endblock %} {% block content %}

</div>

<link rel = "stylesheet" href = "{{url_for('static', filename = 'team.css')}}">

<div class="container text-center mt-5 mb-2">
    <h1 class="mb-0" style="font-size: 90px;">Meet the team</h1>
    <h2 class="mb-0" style="font-size: 25px">Group 15 of the course of applied machine intelligence.</h2>
</div>
<div class="container mt-3" style="margin-top: 3rem;">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/dio.jpeg')}}" width="90">
                <h5 class="mt-3 name">Dionysios Mitsios</h5><span class="work d-block">ML Expert</span><span class="work d-block">Project Lead</span>
                <div class="mt-4 about"><span>Our leader responsible for keeping everything in place.</span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/maxi.jpeg')}}" width="90">
                <h5 class="mt-3 name">Maximilian Studt</h5><span class="work d-block">Video Producer</span><span class="work d-block">Data Engineering Team</span>
                <div class="mt-4 about"><span>Guy with the most amazing ideas for video-production.</span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/shiyao.jpeg')}}" width="90">
                <h5 class="mt-3 name">Shiyao Xu</h5><span class="work d-block">ML Developer</span><span class="work d-block">Modeling Team</span>
                <div class="mt-4 about"><span>Need a model? No worries, she has you covered.</span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/chengyan.jpeg')}}" width="90">
                <h5 class="mt-3 name">Chengyan Zhang</h5><span class="work d-block">ML Developer</span><span class="work d-block">Modeling Team</span>
                <div class="mt-4 about"><span>He can model everything, and not to mention train as well.</span></div>
            </div>
        </div>
    </div>
</div>
</div>

<!-- ================================================================================================================================================== -->
<!-- ============================================================= 2nd GROUP OF PEOPLE ================================================================ -->

<div class="container mt-3" style="margin-top: 2rem;">
    <div class="row">
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/eren.jpeg')}}" width="90">
                <h5 class="mt-3 name">Eren Özcelik</h5><span class="work d-block">Software Developer</span><span class="work d-block">Backend Team</span>
                <div class="mt-4 about"><span>Backend, pre-processing, model building, he pulls it all!</span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/zishan.jpeg')}}" width="90">
                <h5 class="mt-3 name">Zishan Li</h5><span class="work d-block">ML Developer</span><span class="work d-block">Modeling Team</span>
                <div class="mt-4 about"><span>She knows all the gradients of a neural network.</span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/xu.jpeg')}}" width="90">
                <h5 class="mt-3 name">Xu Yan</h5><span class="work d-block">ML Developer</span><span class="work d-block">Data Engineering Team</span>
                <div class="mt-4 about"><span>Guy who achieved 260% accuracy! Made them models living hell!</span></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/basu.jpeg')}}" width="90">
                <h5 class="mt-3 name">Subhosri Basu</h5><span class="work d-block">Data Analyst</span><span class="work d-block">Data Engineering Team</span>
                <div class="mt-4 about"><span>You lack data? She turns your frown upside down.</span></div>
            </div>
        </div>
    </div>
</div>

<!-- ================================================================================================================================================== -->
<!-- ============================================================= 3rd GROUP OF PEOPLE ================================================================ -->

<div class="container mt-3" style="margin-bottom: 3rem;">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/sagnik.jpeg')}}" width="90">
                <h5 class="mt-3 name">Sagnik Dutta</h5><span class="work d-block">Data Analyst</span><span class="work d-block">Data Engineering Team</span>
                <div class="mt-4 about"><span>Can label the hell out of you.</span></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="bg-white p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="{{url_for('static', filename = 'pictures/TeamPictures/azur.jpeg')}}" width="90">
                <h5 class="mt-3 name">Azur Causevic</h5><span class="work d-block">Software Developer</span><span class="work d-block">Frontend Team</span>
                <div class="mt-4 about"><span>It's me, Mario!</span></div>
            </div>
        </div>
    </div>
</div>

<!-- ================================================== FOOTER ==================================================-->

<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-12">
                <h3><strong>Technische Universität München</strong></h3>
                <h3>Arcisstraße 21</h3>
                <h3>80333 München</h3>
            </div>
        </div>
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      All Rights Reserved © 2022
      <a class="text-white" href="https://google.com">AMI_Group15.com</a>
    </div>
    <!-- Copyright -->
</footer>


<!-- ================================================== FOOTER ================================================== -->
{% endblock content %}
